.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  opacity: .7;
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: 1;
  transition: all 0.2s ease-out;
}
