.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  opacity: .7;
}

.header__link:hover {
  text-decoration: underline;
  opacity: 1;
  transition: all 0.2s ease-out;
}
